<div class="author-byline"
    itemprop="author" itemscope 
    itemtype="http://schema.org/Person">
    By: <span itemprop="name" class="author-name-wrapper">
        <a href="<%= authorurl %>" rel="author" itemprop="url">
        <%= authorname %></a></span>
</div>
